<!DOCTYPE html>
<html ng-app="GitlabMailer">
<head>
    <title>Gitlab Mailer</title>
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pure-0.3.0.min.css">
    <script type="text/javascript" src="javascripts/angular-1.2.4.min.js"></script>
</head>
<body>
<div ng-controller="AccountController" style="margin:10px;">

    <image src="images/gitlab-mailer.png" style="float:left; margin-right:10px;"/>
    </br>
    <h1>Gitlab Mailer</h1>
    <small>Web Hook template: <span style="color:green;">http://host:9000/rest/gitlab/:app</span></small>
    </br></br>

    <p style="clear:both;"></p>

    <form class="pure-form">
        <label>Email</label> <input type="email" ng-model="newAccount.email"/>
        <label>Projects</label> <input type="text" ng-model="newAccount.projects"/>
        <button ng-click="saveAccount()" class="pure-button pure-button-primary" style="background-color:#10C017;">Save</button>
    </form>

    </br></br>
    <table class="pure-table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Projects</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in accounts">
            <td> {{ account.email }}</td>
            <td> {{account.projects }}</td>
            <td>
                <a href="#" ng-click="edit(account.email)">edit</a> |
                <a href="#" ng-click="delete(account.email)">delete</a>
            </td>
        </tbody>
    </table>

</div>
<script type="text/javascript">
    angular.module('GitlabMailer', []).controller('AccountController', ['$scope', '$http', function($scope, $http) {
	    $scope.accounts = [];

	    $scope.saveAccount = function() {
	        if ($scope.newAccount.email != null) {
               $http({method: 'POST', url: '/rest/db/account', header: {'Content-Type' : 'application/json'}, data: $scope.newAccount}).success(function(data) {
                    retrieveAccounts();
                });
                $scope.newAccount = {};
		    }
	    }

	    $scope.delete = function(email) {
           $http({method: 'DELETE', url: '/rest/db/account/' + email, header: {'Content-Type' : 'application/json'}}).success(function(data) {
                retrieveAccounts();
            });
	    }

        $scope.edit = function(email) {
            for(i in $scope.accounts) {
                if($scope.accounts[i].email == email) {
                    $scope.newAccount = angular.copy($scope.accounts[i]);
                }
            }
        }

        function retrieveAccounts() {
            $http({method: 'GET', url: '/rest/db/accounts', header : {'Content-Type' : 'application/json'}}).success(function(data) {
                $scope.accounts = data;
            });
        };

        retrieveAccounts();

	}]);

</script>
</body>
</html>